@media (max-width: 1200px) {
    .wrapper .left-side .left-side-block {
        padding-left: 10%;
    }
}

@media (max-width: 1100px) {
    .wrapper .left-side .avatar {
        height: 265px;
        margin: 30px 0;
    }

    .wrapper .right-side .goal {
        height: auto;
    }

    .wrapper .right-side .name-person {
        margin-bottom: 15px;
        padding-top: 95px;
    }
}