@media (max-width: 1024px) {
    .wrapper .left-side .avatar {
        height: 300px;
    }

    .wrapper .left-side .left-side-block {
        padding-left: 10%;
    }



    .wrapper .right-side .name-person {
        height: 250px;
    }

    .wrapper .right-side .name-person {
        padding-top: 10px;
    }

    .wrapper .right-side .name-person h1 {
        font-size: 62px;
    }

    .wrapper .right-side .goal p {
        margin: 20px 0 20px;
    }
}