@media (min-width: 1920px) {
    .wrapper .left-side .avatar img {
        height: 60%;
        width: auto;
    }   

    .wrapper .left-side .skills .skills-item input {
        margin-right: 30%;
    }
}