@media (max-width: 320px) {
    .wrapper .left-side .avatar {
        height: 120px;
    }
    
    .wrapper .left-side .contacts {
        margin-bottom: 0;
    }

    .wrapper .left-side .contacts h1 {
        letter-spacing: 3px;
        font-size: 15px;
    }

    .wrapper .left-side h1 {
        font-size: 13px;
    }

    .wrapper .left-side .contacts .contacts-item {
        padding: 5px;
    }

    .wrapper .left-side .contacts img {
        width: 35px;
    }

    .wrapper .left-side .education .education-item h3, 
    .wrapper .left-side .education .education-item p, 
    .wrapper .left-side .skills .skills-item span {
        font-size: 12px;
    }

    .wrapper .left-side .skills h1 {
        margin: 0;
    }



    .wrapper .right-side .name-person {
        padding-top: 0;
        height: 120px;
    }

    .wrapper .right-side .name-person img {
        width: 35px;
        top: 45px;
    }

    .wrapper .right-side .name-person h1 {
        font-size: 34px;
        margin-top: 0;
        padding-top: 24px;
    }

    .wrapper .right-side .name-person p {
        font-size: 11px;
        padding-left: 32px;
    }

    .wrapper .right-side .goal h1, .wrapper .right-side .experience h1 {
        font-size: 18px;
        letter-spacing: 2px;
    }

    .wrapper .right-side .goal p {
        font-size: 12px;
        line-height: 20px;
        margin: 3px 0 8px
    }

    .wrapper .right-side .goal hr {
        height: 2px;
    }

    .wrapper .right-side .experience .experience-item div {
        flex-direction: column;
    }

    .wrapper .right-side .experience .experience-item div h3 {
        font-size: 14px;
    }

    .wrapper .right-side .experience .experience-item div p {
        padding-top: 3px;
    }

    .wrapper .right-side .experience .experience-item .company-name {
        font-size: 13px;
    }

    .wrapper .right-side .experience .experience-item .description-company {
        font-size: 12px;
        margin: 4px 0;
        line-height: 18px;
    }

    .wrapper .right-side .social-networks {
        padding: 20px 0% 10px 0%;
    }

    .wrapper .right-side .social-networks a {
        margin: 0 6px;
    }

    .wrapper .right-side .social-networks a img {
        width: 27px;
    }
}