@media (max-width: 600px) {
    .wrapper .left-side .avatar {
        height: 180px;
    }

    .wrapper .left-side .skills {
        margin-bottom: 0;
        padding-bottom: 20px;
    }

    .wrapper .left-side .skills .skills-item {
        display: block;
    } 

    input {
        margin: 0 3px 0 0;
        width: 100%;
    }



    .wrapper .right-side .name-person {
        height: 180px;
    }

    .wrapper .right-side .name-person img {
        top: 70px;
    }

    .wrapper .right-side .name-person h1 {
        font-size: 48px;
        margin-top: 10px;
    }

    .wrapper .right-side .name-person p {
        font-size: 14px;
        padding-left: 58px;
    }

    .wrapper .right-side .goal h1, .wrapper .right-side .experience h1 {
        font-size: 34px;
        letter-spacing: 3px;
    }

    .wrapper .right-side .goal p {
        margin: 10px 0 20px;
        font-size: 15px;
    }

    .wrapper .right-side .experience h1 {
        margin-bottom: 0;
    }

    .wrapper .right-side .social-networks {
        padding: 50px 5% 0 0%;
    }

    .wrapper .right-side .social-networks a {
        margin: 0 10px;
    }

    .wrapper .right-side .experience .experience-item div h3 {
        margin-top: 6px;
        font-size: 20px;
    }

    .wrapper .right-side .experience .experience-item div p {
        margin-top: 0;
        font-size: 15px;
    }

    .wrapper .right-side .experience .experience-item .company-name {
        margin: 6px 0;
    }

    .wrapper .right-side .experience .experience-item .description-company {
        font-size: 15px;
        line-height: 20px;
    }

    .wrapper .right-side .experience .experience-item .description-company {
        margin: 8px 0;
    }

    .wrapper .right-side .social-networks {
        padding: 100px 5% 0 0%;
    }

    .wrapper .right-side .social-networks p {
        font-size: 15px;
    }
}