@media (max-width: 1024px) {
    .wrapper .left-side .avatar {
        height: auto;
        margin: 15px 0;
    }

    .wrapper .right-side .name-person {
        height: 215px;
        padding-top: 75px;

    }

    .wrapper .right-side .name-person h1 {
        font-size: 56px;
    }
}

@media (max-width: 1000px) {
    .wrapper {
        flex-direction: column;
    }

    .wrapper .auxiliary-block {
        display: flex;
        align-items: center;
        flex-direction: row;
    }

    .wrapper .left-side,
    .wrapper .right-side {
        width: 100%;
    }

    .wrapper .left-side .avatar img {
        width: 60%;
        margin-left: 50px;
    }

    .wrapper .left-side .contacts,
    .wrapper .left-side .skills {
        padding: 0 0 10px;
        margin: 0;
    }

    .wrapper .left-side .contacts {
        height: auto;
        margin-left: 40px;
    }

    .wrapper .right-side .name-person img {
        width: 40px;
        right: -5px;
    }
}



@media (max-width: 800px) {
    .wrapper .left-side h1 {
        font-size: 25px;
    }

    .wrapper .left-side .contacts h1 {
        letter-spacing: 6px;
    }

    .wrapper .left-side .education {
        height: auto;
        margin-bottom: auto;
    }

    .wrapper .right-side .name-person {
        height: auto;
        margin-bottom: 0;
        padding: 40px 0;
    }

    .wrapper .right-side .right-side-block {
        padding: 0 7% 0 7%;
    }

}