@media (max-width: 768px) {
    .wrapper .left-side .avatar {
        height: 250px;
    }

    .wrapper .left-side .avatar img {
        width: 60%;
    }

    .wrapper .left-side .left-side-block  {
        padding-left: 1%;
    }

    .wrapper .left-side h1 {
        font-size: 25px;
    }

    .wrapper .left-side .contacts {
        height: auto;
    }

    .wrapper .left-side .contacts h1 {
        letter-spacing: 6px;
    }

    .wrapper .left-side .contacts img {
        padding-right: 5px;
    }

    .wrapper .left-side .contacts .contacts-item {
        font-size: 15px;
    }

    .wrapper .left-side .education {
        height: auto;
        margin-bottom: 20px;
    }

    .wrapper .left-side .education h1 {
        letter-spacing: 0px;
        margin-bottom: 10px;
    }

    .wrapper .left-side .education .education-item h3 {
        font-size: 17.5px;
    }

    .wrapper .left-side .skills h1 {
        margin-bottom: 10px;
    }




    .wrapper .right-side .name-person {
        height: 250px;
        margin-bottom: 0;
    }

    .wrapper .right-side .name-person img {
        position: absolute;
        top: 105px;
        left: 33%;
    }

    .wrapper .right-side .name-person h1 {
        font-size: 52px;
        margin-top: 35px;
        padding-left: 13%;
    }

    .wrapper .right-side .name-person p {
        font-size: 15px;
    }

    .wrapper .right-side .right-side-block {
        padding: 0 9% 0 7%;
    }

    .wrapper .right-side .goal h1, .wrapper .right-side .experience h1 {
        font-size: 38px;
        letter-spacing: 6px;
    }

    .wrapper .right-side .goal p {
        margin: 10px 0 30px;
    }

    .wrapper .right-side .experience h1 {
        margin-bottom: 0;
    }

    .wrapper .right-side .social-networks {
        padding: 50px 5% 0 0%;
    }

    .wrapper .right-side .social-networks a {
        margin: 0 10px;
    }
}