@media (min-width: 1536px) {
    main .left-side {
        min-width: 500px !important;
    }

    main .lang-certificate {
        width: calc(100% - 580px);
    }

    main .right-side {
        width: auto !important;
    }
}

@media (max-width: 1150px) {
    main .left-side {
        min-width: 320px;
        flex-wrap: wrap;
    }

    main .left-side .wrapper {
        align-items: center;
    }  

    .box-info {
        width: 80%;
    }


    main .right-side .person-info .name-block .name {
        font-size: 50px;
    }

    main .right-side .title {
        font-size: 36px;
    } 
}

@media (max-width: 900px) {
    main .right-side .person-info {
        height: 240px;
        padding-top: 80px;
    }  

    main .lang-certificate {
        width: calc(100% - 380px);
    }  

    main .right-side .experience .experience-block .experience-item .description {
        max-height: 150px;
        overflow: scroll;
        overflow-x: hidden;
        padding-right: 10px;
    }

    main .right-side .experience .experience-block .experience-item .description::-webkit-scrollbar {
        width: 6px;
    }

    main .right-side .experience .experience-block .experience-item .description::-webkit-scrollbar-track {
        background-color: rgba(85, 85, 85, 0.2);
        border-radius: 4px;
        margin: 4px 0;
    }

    main .right-side .experience .experience-block .experience-item .description::-webkit-scrollbar-thumb {
        background-color: rgba(169, 169, 169, 0.4);
        border-radius: 4px;
    }
}

@media (max-width: 800px) {
    main {
        display: block;
    }

    main .lang-certificate {
        width: 95%;
        flex-direction: row;
    }

    main .lang-certificate .certificate {
        background-color: rgba(42, 42, 41, .98);
        box-shadow: 2px 6px 8px rgba(0, 0, 0, 0.25);
        padding: 6px;
        margin-left: 10px;
        border-radius: 6px;
    }

    main .lang-certificate .certificate:hover {
        background-color: rgba(42, 42, 41, 1);
        box-shadow: none;
    }

    main .lang-certificate .certificate .btn {
        margin: 0;
        font-size: 0;
        background-image: url("../images/certificate.svg");
        height: 30px;
        width: 48px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        box-shadow: none;
        background-color: transparent;
    }

    main .left-side {
        width: auto;
        flex-direction: row;
        justify-content: space-around;
        padding: 0 20px;
    }

    main .left-side .avatar {
        width: 220px;
        height: 220px;
        margin: 20px 0 0;
    }

    main .left-side .box-info {
        margin: 10px 0;
    }

    main .left-side .wrapper .my-languages {
        margin-bottom: 30px;
    }

    main .left-side .education {
        margin-bottom: 10px;
    }


    main .right-side {
        width: 100%;
    }

    main .lang-certificate {
        right: auto;
        color: #fff;
    }

    main .lang-certificate .languages-block .language {
        color: #fff !important;
        text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.7);
    }    

    main .right-side .experience .experience-block .experience-item .description {
        max-height: fit-content;
        overflow: initial;
    }
}

@media (max-width: 640px) {
    .box-info {
        width: auto;
    }

    main .lang-certificate {
        width: 93%;
    }  

    main .left-side .wrapper {
        align-items: initial;
    }


    main .right-side .person-info .name-block .name {
        font-size: 44px;
    }

    main .right-side .goal {
        margin-bottom: 20px;
    }

    main .right-side .title {
        font-size: 30px;
    }

    main .right-side .goal p,
    main .right-side .experience p {
        line-height: 26px;
        font-size: 16px;
    }

    main .right-side .experience .title {
        font-size: 24px;
    }

    main .right-side .experience .experience-block .experience-item .description {
        max-height: 100px;
        overflow: scroll;
        overflow-x: hidden;
    }
}

@media (max-width: 480px) {
    main .left-side {
        flex-direction: column;
        padding-top: 35px;
    } 

    main .left-side .title {
        font-size: 28px;
        width: min-content;
    }  

    main .left-side .box-info p {
        font-size: 20px;
    }



    main .right-side .title {
        font-size: 28px;
    }

    main .right-side .goal p,
    main .right-side .experience p {
        line-height: 24px;
    }
}

@media (max-width: 460px) { 
    main .right-side .person-info {
        padding-top: 45px;
    } 

    footer .social-networks .title {
        font-size: 14px;
    }

    footer .social-networks a {
        width: 28px;
        height: 28px;
        margin: 0 8px;
    }

    main .right-side .person-info {
        height: 220px;
    }
}

@media (max-width: 390px) { 
    main .left-side .wrapper {
        width: auto;
    }

    main .right-side .person-info .name-block .name {
        font-size: 40px;
    } 

    main .right-side .wrapper {
        padding: 0 7% 0 6%;
    } 

    main .right-side .goal p,
    main .right-side .experience p {
        font-size: 14px;
    }

    main .right-side hr {
        width: 88%;
    }

    main .right-side .my-github {
        font-size: 13px !important;
    }

    footer {
        height: auto;
        flex-direction: column;
        padding: 10px;
    }

    footer .social-networks .title {
        margin-bottom: 6px;
    }

    footer .social-networks {
        padding: 0;
    }
}

@media (max-width: 320px) {
    main .left-side {
        min-width: fit-content;
        padding: 35px 0 0;
    } 

    main .left-side .wrapper {
        align-items: center;
    }  

    main .right-side .wrapper p {
        max-height: 250px;
        overflow: scroll;
        overflow-x: hidden;
    }

    main .right-side .wrapper p::-webkit-scrollbar {
        width: 6px;
    }


    main .right-side .wrapper p::-webkit-scrollbar-track {
        background-color: rgba(85, 85, 85, 0.2);
        border-radius: 4px;
        margin: 4px 0;
    }

    main .right-side .wrapper p::-webkit-scrollbar-thumb {
        background-color: rgba(169, 169, 169, 0.4);
        border-radius: 4px;
    }
}